body {

  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size: cover;
}
h4 {
  margin-left: auto;
  margin-right: auto;
 
color :yellow;
}

div {
  
 
  color:#444;
  border:0px solid #CCC;
  background: transparent;
  color: white;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  margin-left: auto;
  margin-right: auto;
 
  
}
form {
  font-size:11px;
  display: block;
  width: 100%;
  border: none;
  color: rgb(247, 247, 9);
  background-color: transparent;
  padding: 10px 0px;
 
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 
}
button {
  font-size:11px;
  
  width: 100%;
  border: none;
  color: rgb(247, 247, 9);
  background-color:transparent;
  padding: 10px 0px;
 
  cursor: pointer;
  text-align: center;
  align-items: center;
}

h6 {
  display: inline-table;
  color:rgb(247, 247, 9);
  padding: 20px 20px;

  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 100px;
 
  text-align: center;
}

svg {
  text-align:center;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
  
  
}
.signOutBanner {
  color:#444;
  border:0px solid #CCC;
  background: transparent;
  color: yellow;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;    
  justify-content: flex-start
}


.nextLevel {
  color: green;
  opacity: .1;
}
#StartGameSubmitBtn {
  color: green;
  opacity: .8;
background-color: yellow;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); 
} 

@keyframes spin {
  from {
   
      transform:rotateY(0deg);
  }
  to {
      
      transform:rotateY(360deg);
  }
}