body {
  background-image: url("images/mazebackgroundpic.jpg");
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size: cover;
}

div {
  
  color:#444;
  border:0px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 100px;
 
  text-align: center;
}
button {
  display:inline-block;
  color:#444;
  border:0px solid #CCC;
  background: azure;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 350px;
 
  text-align: center;
}

h2 {
  display: -webkit-inline-flex;
  color:#444;
  border:0px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 100px;
 
  text-align: center;
}